// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$main-black: #111;
$light-white: #F4F7F2;
$main-green: #2DA657;
$main-green-hover: #1e8d45;

// Reset
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    &.add-overflow {
        overflow: hidden;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* a {
    text-decoration: none;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

a:hover,
a:focus {
	outline: none;
}

p {
    margin: 0;
    padding: 0;
}

// Containers
.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

// Kit
.fill-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px 40px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    background-color: $main-green;
    border-radius: 50px;
    transition: all .3s ease-out;
    &:hover {
        background-color: $main-green-hover;
    }
}

.section-title {
    margin: 0;
    margin-bottom: 50px;
    color: $main-black;
    font-size: 56px;
    font-weight: 700;
}

// Styles
.header {
    position: fixed;
    top: 0;
	width: 100%;
    height: 84px;
	z-index: 100;
    padding: 30px 0;
    background-color: #fff;
    border-bottom: 1px solid rgba($main-black, .1);
    transition: all .3s ease-out;
    &.hide {
        top: -84px;
    }
    &-row {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-nav {
        ul {
            display: flex;
            align-items: center;
            li {
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    position: relative;
                    display: block;
                    flex-grow: 1;
                    color: $main-black;
                    font-weight: 500;
                    animation-fill-mode: both;
                    animation-duration: 1s;
                    overflow: hidden;
                    text-align: center;
                    span {
                        display: block;
                        transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }
                    &:active {
                        animation-name: rubberBand;
                    }
                    &:hover {
                        color: $main-green;
                        span {
                            color: $main-green;
                            transform: translateY(-100%);
                        }
                        &::after {
                            top: 0;
                        }
                    }
                    &::after {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                        content: attr(data-hover);
                        display: inline;
                        text-align: center;
                        transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }
                }
            }
        }
    }
    &-hamburger {
        display: none;
        span {
            width: 30px;
            height: 2px;
            background-color: $main-black;
            display: block;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
        }
        &.active {
            span {
                &:nth-of-type(1) {
                    transform: translateY(7px) rotate(45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translateY(-7px) rotate(-45deg);
                }
            }
        }
    }
    &-overlay {
        position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
        border-top: 1px solid rgba($main-black, .1);
		z-index: 5;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: calc(100% - 56px);
            background-color: #fff;
            opacity: 0;
		    height: 0;
            li {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: $main-black;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}

.intro {
    position: relative;
    padding: 164px 0 80px 0;
    background-color: #FFF;
    overflow: hidden;
    &-heading {
        small {
            display: block;
            margin-bottom: 15px;
            color: rgba($main-black, .5);
            font-size: 16px;
            font-weight: 400;
        }
        h1 {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            margin-bottom: 30px;
            font-size: 80px;
            line-height: 120%;
            font-weight: 700;
            span {
                display: inline-block;
                margin-left: 30px;
                background: linear-gradient(90deg, #0C3400 0%, #4D7E2A 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        p {
            width: 850px;
            max-width: 100%;
            margin-bottom: 50px;
            color: $main-black;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
        }
    }
    &-carousel {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: #FFF;
                position: absolute;
                width: 100%;
                height: 100%;
                left: -100%;
                z-index: 1;
        }
        margin-top: 50px;
        &.slick-slider {
            .slick-list {
                margin-left: -10px;
                margin-right: -10px;
                overflow: visible;
            }
        }
        &__card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 250px;
            margin: 0 10px;
            padding: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 120%;
            border-radius: 20px;
            overflow: hidden;
            transition: all .3s ease-out;
            &:hover {
                cursor: pointer;
                background-size: 130%;
                transition: all .3s ease-out;
            }
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba($main-black, .5);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .strong {
                position: relative;
                color: #FFF;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                z-index: 1;
            }
            p {
                position: relative;
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
                z-index: 1;
            }
        }
    }
    &-decor {
        position: absolute;
        width: 500px;
        max-width: 100%;
        right: 0;
        top: 15%;
        transform: translateY(-50%);
    }
}

.services {
    padding: 100px 0;
    background-color: $light-white;
    &-accordion {
        &__card {
            display: none;
            margin-top: -1px;
            border-bottom: 1px solid rgba($main-black, .2);
            &:nth-of-type(1) {
                border-top: 1px solid rgba($main-black, .2);
            }
            &-head {
                position: relative;
                display: flex;
                align-items: center;
                padding: 30px 0;
                &:hover {
                    cursor: pointer;
                }
                .counter {
                    color: $main-black;
                    font-size: 21px;
                    font-weight: 600;
                }
                .strong {
                    display: block;
                    margin-left: 200px;
                    color: $main-black;
                    font-size: 21px;
                    font-weight: 600;
                }
                .icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border: 1px solid rgba($main-black, .2);
                    border-radius: 50px;
                    transition: all .3s ease-out;
                }
            }
            &-body {
                padding-left: 223px;
                padding-right: 50px;
                max-height: 0;
                transition: all .3s ease-out;
                overflow: hidden;
                p {
                    padding-bottom: 30px;
                    color: rgba($main-black, .5);
                    font-size: 16px;
                    line-height: 26px;
                }
            }
            &.active {
                .services-accordion__card-body {
                    max-height: auto;
                }
                .services-accordion__card-head .icon {
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
    }
    a.fill-btn {
        width: 100%;
        margin-top: 50px;
    }
}

.study {
    padding: 100px 0;
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
        &:nth-of-type(1) {
            margin-bottom: 24px;
        }
        &__card {
            position: relative;
            flex: 0 0 auto;
            width: calc(25% - 24px);
            max-width: 100%;
            margin-left: 12px;
            margin-right: 12px;
            padding: 30px;
            background-color: #fff;
            border: 2px solid $main-green;
            border-radius: 15px;
            box-shadow: 5px 5px #2DA657;
            .counter {
                display: block;
                margin-bottom: 20px;
                color: rgba($main-black, .3);
                font-size: 28px;
                font-weight: 600;
            }
            p {
                margin: 0;
                color: $main-black;
                font-size: 18px;
                line-height: 26px;
                font-weight: 600;
            }
        }
    }
    &-additional {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 50px 0;
        &__card {
            flex: 0 0 auto;
            width: 100%;
            max-width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            .strong {
                display: block;
                margin-bottom: 15px;
                color: $main-black;
                font-size: 28px;
                font-weight: 700;
            }
            p {
                margin: 0;
                font-size: 18px;
                line-height: 140%;
                font-weight: 400;
                color: rgba($main-black, .7);
            }
        }
    }
    .fill-btn {
        width: 100%;
    }
}

.instruction {
    position: relative;
    padding: 100px 0;
    background-color: $light-white;
    overflow: hidden;
    &-row {
        display: flex;
        flex-wrap: wrap;
    }
    &-book {
        flex: 0 0 auto;
        width: 33.33333333%;
        &__anim {
            width: 400px;
            max-width: 100%;
            height: 500px;
            background-color: #E6E6E6;
            border-radius: 15px;
        }
    }
    &-buy {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        justify-content: center;
        width: 66.66666667%;
        max-width: 100%;
        padding-left: 100px;
        small {
            display: block;
            margin-bottom: 15px;
            color: rgba($main-black, .5);
            font-size: 18px;
            font-weight: 500;
        }
        .section-title {
            margin-bottom: 30px;
        }
        p {
            width: 800px;
            max-width: 100%;
            margin-bottom: 15px;
            color: $main-black;
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
        }
        a.fill-btn {
            margin-top: 30px;
        }
    }
}

.consultation {
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    &-row {
        display: flex;
        flex-wrap: wrap;
    }
    &-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 auto;
        width: 50%;
        small {
            display: block;
            margin-bottom: 15px;
            color: rgba($main-black, .5);
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
        }
        .section-title {
            margin-bottom: 30px;
        }
        p {
            width: 650px;
            max-width: 100%;
            margin: 0;
            margin-bottom: 15px;
            color: $main-black;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
        }
    }
    &-form {
        flex: 0 0 auto;
        width: 50%;
        padding-left: 100px;
        input {
            width: 100%;
            height: 80px;
            margin-bottom: 15px;
            padding: 30px;
            color: rgba($main-black, .5);
            font-size: 18px;
            font-weight: 500;
            background-color: #F3F3F3;
            border: 2px solid #F3F3F3;
            border-radius: 15px;
            transition: all .3s ease-out;
            &::placeholder {
                color: rgba($main-black, .5);
                font-size: 18px;
                font-weight: 500;
            }
            &:focus {
                outline: none;
                border: 2px solid $main-green;
            }
            &[type=submit] {
                margin: 0;
                margin-top: 15px;
                background-color: $main-green;
                color: $light-white;
                font-size: 18px;
                &:hover {
                    color: $light-white;
                    background-color: $main-green-hover;
                }
            }
        }
        textarea {
            width: 100%;
            padding: 30px;
            color: rgba($main-black, .5);
            font-size: 18px;
            font-weight: 500;
            background-color: #F3F3F3;
            border: 2px solid #F3F3F3;
            border-radius: 15px;
            transition: all .3s ease-out;
            resize: none;
            &::placeholder {
                color: rgba($main-black, .5);
                font-size: 18px;
                font-weight: 500;
            }
            &:focus {
                outline: none;
                border: 2px solid $main-green;
            }
        }
    }
}

.footer {
    position: relative;
    padding: 30px 0;
    background-color: $main-black;
    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-social {
        ul {
            display: flex;
            align-items: center;
            li {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                color: #F4F7F2;
                font-size: 16px;
                font-weight: 500;
                background-color: #1b1d1c;
                margin-right: 15px;
                border-radius: 10px;
                i.icon {
                    display: flex;
                    margin-left: 5px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &-copyright {
        a {
            color: rgba($light-white, .6);
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
            transition: all .3s ease-out;
            &:hover {
                color: $main-green;
            }
        }
    }
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -96px;
    }

    40% {
        top: -192px;
    }

    60% {
        top: -288px;
    }

    80% {
        top: -384px;
    }
}

// Mobile styles
@media only screen and (max-width: 1400px) {
    .section-title {
        font-size: 50px;
    }
    .intro-heading h1 {
        font-size: 70px;
    }
    .intro-decor {
        top: 50%;
    }
    .intro-heading h1 div {
        height: 90px;
    }
    .study-list__card p {
        font-size: 16px;
    }
    .instruction-buy {
        padding-left: 50px;
    }
    .instruction-buy .section-title br {
        display: none;
    }
    .consultation-form {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .section-title {
        font-size: 42px;
    }
    .intro-heading h1 {
        font-size: 60px;
    }
    .intro-heading h1 span {
        margin-left: 20px;
    }
    .intro-heading p {
        width: 570px;
        font-size: 16px;
    }
    .intro-decor {
        top: 40%;
        width: 400px;
        max-width: 100%;
    }
    .services-accordion__card-head .strong {
        margin-left: 120px;
    }
    .services-accordion__card-body {
        padding-left: 150px;
    }
    .study-list:nth-of-type(1) {
        margin-bottom: 0;
    }
    .study-list__card {
        width: calc(50% - 24px);
        padding: 20px;
        margin-bottom: 24px;
    }
    .instruction-buy {
        padding-left: 90px;
    }
    .instruction-buy p {
        font-size: 16px;
        line-height: 26px;
    }
    .consultation-heading small {
        font-size: 16px;
        line-height: 26px;
    }
    .consultation-heading p {
        font-size: 16px;
        line-height: 26px;
    }
    .consultation-form input {
        height: 70px;
        padding: 20px 30px;
        font-size: 16px;
    }
    .consultation-form input::placeholder {
        font-size: 16px;
    }

}

@media only screen and (max-width: 992px) {
    .section-title {
        font-size: 34px;
    }
    .intro {
        padding: 134px 0 50px 0;
    }
    .intro-heading small {
        font-size: 14px;
    }
    .intro-heading h1 {
        font-size: 46px;
    }
    .intro-heading h1 span {
        margin-left: 15px;
    }
    .intro-decor {
        top: 40%;
        width: 340px;
        max-width: 100%;
    }
    .intro-carousel__card {
        height: 200px;
        padding: 20px;
    }
    .intro-carousel__card .strong {
        font-size: 18px;
    }
    .intro-carousel__card p {
        font-size: 14px;
    }
    .instruction-buy .section-title br {
        display: none;
    }
    .instruction-buy {
        padding-left: 30px;
    }
    .footer-row {
        flex-direction: column;
    }
    .footer-social {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: 67px;
        padding: 20px 0;
    }
    .header.hide {
        top: -67px;
    }
    .header-nav {
        display: none;
    }
    .header-hamburger {
        display: block;
    }
    .intro {
        padding: 117px 0 50px 0;
    }
    .intro-heading h1 {
        font-size: 40px;
    }
    .intro-heading p {
        width: 480px;
    }
    .services-accordion__card-head .strong {
        margin-left: 50px;
    }
    .services-accordion__card-body {
        padding-left: 70px;
    }
    .instruction-row {
        flex-direction: column;
    }
    .instruction-book {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 30px;
    }
    .instruction-book__anim {
        width: 100%;
    }
    .instruction-buy {
        width: 100%;
        padding-left: 0;
    }
    .consultation-row {
        flex-direction: column;
    }
    .consultation-heading {
        width: 100%;
        margin-bottom: 30px;
    }
    .consultation-form {
        width: 100%;
        padding-left: 0;
    }
}

@media only screen and (max-width: 576px) {
    .intro-heading h1 {
        font-size: 36px;
    }
    .intro-heading {
        position: relative;
        z-index: 1;
    }
    .intro::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(40px);
    }
    .services {
        padding: 50px 0;
    }
    .services-accordion__card-head {
        padding: 20px 0;
    }
    .services-accordion__card-head .counter,
    .services-accordion__card-head .strong {
        font-size: 18px;
    }
    .services-accordion__card-body p {
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .study {
        padding: 50px 0;
    }
    .study-list__card p {
        font-size: 14px;
        line-height: 20px;
    }
    .study-additional {
        margin: 30px 0;
    }
    .study-additional__card .strong {
        font-size: 24px;
    }
    .study-additional__card p {
        font-size: 16px;
        line-height: 150%;
    }
    .instruction {
        padding: 50px 0;
    }
    .consultation {
        padding: 50px 0;
    }
    .footer-social ul li {
        font-size: 14px;
    }
    .footer-social ul li i.icon img {
        width: 16px;
    }
    .footer-copyright a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .fill-btn {
        font-size: 16px;
    }
    .section-title {
        margin-bottom: 30px;
        font-size: 28px;
    }
    .header {
        height: 57px;
        padding: 15px 0;
    }
    .header img {
        width: 130px;
    }
    .intro {
        padding: 87px 0 30px 0;
    }
    .intro-heading small {
        font-size: 14px;
        max-width: 210px;
        line-height: 20px;
    }
    .intro-heading h1 {
        font-size: 40px;
        flex-direction: column;
    }
    .intro-heading h1 span {
        display: block;
        height: 55px;
        margin-left: 0;
    }
    .intro-heading p {
        margin-bottom: 30px;
    }
    .services {
        padding: 50px 0;
    }
    .services-accordion__card-head .counter {
        font-size: 16px;
    }
    .services-accordion__card-head .strong {
        margin-left: 15px;
        font-size: 16px;
    }
    .services-accordion__card-head .icon {
        width: 25px;
        height: 25px;
    }
    .services-accordion__card-head .icon img {
        width: 10px;
    }
    .services-accordion__card-body {
        padding-left: 30px;
    }
    .services-accordion__card-body p {
        font-size: 14px;
        line-height: 20px;
    }
    .services a.fill-btn {
        margin-top: 30px;
    }
    .study {
        padding: 50px 0;
    }
    .study-list__card {
        width: calc(100% - 24px);
    }
    .study-additional {
        margin: 26px 0;
    }
    .study-additional__card p {
        font-size: 16px;
    }
    .instruction {
        padding: 50px 0;
    }
    .instruction-row {
        flex-direction: column;
    }
    .instruction-book {
        width: 100%;
        margin-bottom: 30px;
    }
    .instruction-book__anim {
        height: 350px;
    }
    .instruction-buy {
        width: 100%;
        padding-left: 0;
    }
    .consultation {
        padding: 50px 0;
    }
    .consultation-heading {
        width: 100%;
        margin-bottom: 30px;
    }
    .consultation-row {
        flex-direction: column;
    }
    .consultation-form {
        width: 100%;
        padding-left: 0;
    }
    .footer-row {
        flex-direction: column;   
    }
    .footer-social {
        margin: 30px 0;
    }
    .footer-copyright a {
        font-size: 14px;
    }
    .footer-social ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px) {

}